# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
env/
venv/
ENV/

# Databases
*.sqlite3

# Environment variables
.env

# Project specific
tmp/uploads/*
!tmp/uploads/.gitkeep

# IDEs
.vscode/
.idea/
.gemini/
